
body {
  margin: auto;
}
title {
  margin: auto;
  color: lightblue;
  text-align: center;
  line-height: normal;
}
.cosmic{
  border: 4px inset gray;
  width: 200px;
  height: 200px;
}
table, 
th, 
td {
  border-collapse: collapse;
  border: 2px groove black;
  padding: 8px;
  justify-content: space-around;
  text-align: left;
  width: 200;
  height: 200;
}
th {
  text-align: left;
  height: 50px;
  vertical-align: bottom;
  border-bottom: 1px solid #ddd;
}
td {
  text-align: center;
  height: 50px;
  vertical-align: bottom;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
